body {
  padding: 20px;
  margin: 20px;
  background-color: linen;
  border: none;
}

h1 {
  padding: 10px;
  margin: 10px;
  border: solid;
  border-style: double;
  text-align: center;
  font-family: fantasy;
  font-size: 32px;
  color: grey;
  width: 400px;
}

h2 {
  padding: 10px;
  margin: 10px;
  border: solid;
  border-color: grey;
  text-align: center;
  font-family: fantasy;
  font-size: 14px;
  color: grey;
  width: 400px;
}

.datospersonales {
  padding: 10px;
  margin: 10px;
  border: solid;
  width: 400px;
  height: auto;
  border: solid #c3c3c3;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  align-content: center;
  background-color: lightgrey;
  color: grey;
}
/*p {
  padding: 10px;
  margin: 10px;
  border: solid;
  border-color: gray;
}*/
